body{
    background-color: #2e2e2e;
    margin: 5px 0px ;
}
.container{
    color: white;
}

.logoName span{
    color: #fd8700;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d1d1d;
    width: 100vw;
    border-radius: 5px;
}
.menuOption{
    display: flex;
    justify-content: space-around ;
    list-style: none;
    color: white;
    align-items: center;
    /* margin-top: 25px; */
    font-family: sans-serif;
    font-weight: 600;
}
div .menu{
    display: flex;
    justify-content: space-between;
}
ul{
    /* margin-left: 65px; */
    gap: 65px;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: #fd8700;
    padding-bottom: 5px;
    border-bottom:2px solid #fd8700;
}
/* future usage */

/* button{
    padding: 20px;
    margin-left: 60px;
    border-radius: 50px;
    outline: none;
    box-shadow: 1px 1px 5px #fd8700;
}
button:hover{
    color: #fd8700;
} */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
/* content */

div .home{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div + span{
    font-size: 50px;
    font-family: sans-serif;
}
span a{
    text-decoration: none;
    color: #fd8700;
    content: "";
    /* position: absolute; */
    left: 25px;
    bottom: 0;
    height: 15px;
    width: 10%;
}
span a::before{
    left: 25px;
    bottom: 0;  
}
.about{
    margin: 10px 0px;
    width: 100vw;
    height: 80vh;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cv{
    margin: 15px 190px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}
.cv a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.cv a:link,
a:visited
{
    text-decoration: none;
    color: black;
}
.img-about{
    max-width: 450px;
    height: 70vh;
    margin: 0px 85px;
    padding: 5px;
    background-color: #686868;
    box-shadow: 2px 2px 5px;
}
.about-title{
    width: 570px;
    height: 70vh;
    margin-left: 85px;
    
    justify-content: space-around;
}
span.ctn{
    font-size: 65px;
    font-family: sans-serif;
    height: 70vh;
}
span.ctn2{
    font-size: 20px;
    font-family: sans-serif;
    height: 70vh;

}
